<div class="container-fluid container-xxl mt-4 mb-2">
  <div class="row justify-content-center"><div class="row" dir="ltr">
    <div class="input-group mb-2">
      <input type="text" (keyup)="searchProducts(searchInput.value)" #searchInput class="form-control" placeholder="... جستجو" aria-label="Example text with button addon" aria-describedby="button-addon1">
    </div>
  </div></div>
</div>

<div *ngIf="products?.length > 0" class="container-fluid container-xxl mt-4 mb-5">
  <div class="row justify-content-center">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col" *ngFor="let product of products">
        <app-product-item [product]="product" [productId]="product.id"></app-product-item>
      </div>
    </div>
  </div>
</div>

<div *ngIf="products?.length <= 0" class="container-fluid  container-xxl border p-3 rounded-2 border-danger border-3 mb-4 mt-5">
  <div class="row justify-content-center align-content-center align-items-center flex-column">
    <h4 class="text-center text-danger">محصولی یافت نشد</h4>
    <!-- <p class="text-center py-4"><a [routerLink]="['/']"  class="btn btn-outline-primary">بازگشت به صفحه اصلی</a></p> -->
  </div>
</div>
