<div
  class="container-fluid mt-5 rounded-2 container-lg"
  *ngIf="product"
>
  <div class="row">
    <div class="card p-4 border-0 mb-3">
      <div class="row gx-3">
        <div class="col-12 col-md-5">
          <img
            class="product-image py-2"
            height="200px"
            src="{{ product.image }}"
            alt="{{ product.pageTitle.split('|')[0] }}"
          />
        </div>
        <div
          class="col-md-3 col-12 product-detail-panel flex-fill d-flex flex-column justify-content-between align-items-center"
        >
          <div class="card-body w-100 flex-fill">
            <ul class="list-unstyled p-0">
              <li
                class="mb-2"
                *ngFor="let item of product?.pageTitle.split('|')"
              >
                - {{ item }}
              </li>
            </ul>
            <!-- <h5 class="card-title">{{product.pageTitle}}</h5> -->
            <p class="card-text">{{ product?.price }} تومان</p>
          </div>
          <a
            [routerLink]="['edit']"
            class="btn btn-primary w-100 mb-2"
          >
            ویرایش
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  *ngIf="product"
  class="container-fluid container-lg card rounded-2 p-3 mb-4 mt-5"
>
  <div
    class="row justify-content-center align-content-center align-items-center flex-column"
  >
    <h4 class="text-center pb-2">معرفی محصول</h4>
    <p style="text-align: justify">
      {{ product?.productDescription }}
    </p>
  </div>
</div>

<div
  *ngIf="!product"
  class="container border py-3 rounded-2 border-danger border-3 mb-4 mt-5"
>
  <div
    class="row justify-content-center align-content-center align-items-center flex-column"
  >
    <h4 class="text-center text-danger">محصول مورد نظر یافت نشد</h4>
    <p class="text-center py-4">
      <a routerLink="/" class="btn btn-outline-primary">بازگشت به صفحه اصلی</a>
    </p>
  </div>
</div>
